<template lang="pug">
div#app
	h1 test1 //{{ msg }}
	b-tabs(position="is-centered")
		b-tab-item(label="Все клиенты")
			b-table(:data="clients" :striped='true' :narrowed="true" :hoverable="true")
				template( slot-scope="client")
					b-table-column(field="id" label="ID" sortable numeric) {{ client.row.id }}
					b-table-column(field="adres" label="URL" sortable numeric) {{ client.row.adres }}
					b-table-column(field="otv1" label="Продажник" sortable numeric) {{ client.row.otv1 }}
					b-table-column(field="otv2" label="SEO" sortable numeric) {{ client.row.otv2 }}
					b-table-column(field="date" label="Дата" sortable numeric)
						span(class="tag is-info") {{ new Date(client.row.date).toLocaleDateString() }}
					b-table-column(field="status" label="статус" sortable numeric)
						//template(v-if)
						span(class="tag" :class="{'is-success': client.row.status.toLowerCase()=='довольные', 'is-warning':client.row.status.toLowerCase()=='проблемные', 'is-danger':client.row.status.toLowerCase()=='отказники'}") {{ client.row.status }}


		b-tab-item(label="По месяцам")
			template(v-for='monthSatistic in allMonthStatictic')
				div.card
					div.card-header
						div.card-header-title
							div.title.is-4 {{ GetMonthByNumber(monthSatistic.date[1]) }} -  {{monthSatistic.date[2]}}
					div.card-content
						b-tabs
							b-tab-item( label="Таблица" )
								b-table(:data="monthSatistic.clients" :striped='true' :narrowed="true" :hoverable="true")
									template( slot-scope="client")
										b-table-column(field="date" label="Дата" sortable numeric)
											span(class="tag is-info") {{ new Date(client.row.date).toLocaleDateString() }}
										b-table-column(field="id" label="ID" sortable numeric) {{ client.row.id }}
										b-table-column(field="adres" label="URL" sortable numeric) {{ client.row.adres }}
										b-table-column(field="otv1" label="Продажник" sortable numeric) {{ client.row.otv1 }}
										b-table-column(field="otv2" label="SEO" sortable numeric) {{ client.row.otv2 }}

										b-table-column(field="status" label="статус" sortable numeric)
											//template(v-if)
											span(class="tag" :class="{'is-success': client.row.status.toLowerCase()=='довольные', 'is-warning':client.row.status.toLowerCase()=='проблемные', 'is-danger':client.row.status.toLowerCase()=='отказники'}") {{ client.row.status }}
									template( slot="footer")
										b Всего клиентов :
										span {{ monthSatistic.clients.length }}
							b-tab-item( label="Диаграммы" )
								//chartjs-doughnut( :width="300" :height="500")
								//pie-chart(:data="clientsByAllOtv1(clients)")
								//b-table(:data="clientsByAllOtv1(clientsByAllOtv1(clients))")

		b-tab-item(label="Колонки")
			div.columns
				div.column
					template(v-for='monthSatistic in allMonthStatictic')
						div.card
							div.card-header
								div.card-header-title {{ GetMonthByNumber(monthSatistic.date[1]) }} -  {{monthSatistic.date[2]}}
							div.card-content
								b-table(:data="monthSatistic.clients" :striped='true' :narrowed="true" :hoverable="true")
									template( slot-scope="client")
										b-table-column(field="adres" label="URL" sortable numeric) {{ client.row.adres }}
										b-table-column(field="otv1" label="Продажник" sortable numeric) {{ client.row.otv1 }}
										b-table-column(field="otv2" label="SEO" sortable numeric) {{ client.row.otv2 }}

										b-table-column(field="status" label="статус" sortable numeric)
											span(class="tag" :class="{'is-success': client.row.status.toLowerCase()=='довольные', 'is-warning':client.row.status.toLowerCase()=='проблемные', 'is-danger':client.row.status.toLowerCase()=='отказники'}") {{ client.row.status }}
									template( slot="footer")
										b Всего
										span {{ monthSatistic.clients.length }}
				div.column
					span.tag.is-success Довольные
					b-table(:data="allStat.StatBystatus['довольные']" :striped='true' :narrowed="true" :hoverable="true")
							template( slot-scope="client")
								b-table-column(field="adres" label="URL" sortable numeric) {{ client.row.adres }}
								b-table-column(field="otv1" label="Продажник" sortable numeric) {{ client.row.otv1 }}
								b-table-column(field="otv2" label="SEO" sortable numeric) {{ client.row.otv2 }}
							template( slot="footer")
								b Всего
								span {{ allStat.StatBystatus["довольные"].length }}
				div.column
					span.tag.is-warning Проблемные
					b-table(:data="allStat.StatBystatus['Проблемные']" :striped='true' :narrowed="true" :hoverable="true")
							template( slot-scope="client")
								b-table-column(field="adres" label="URL" sortable numeric) {{ client.row.adres }}
								b-table-column(field="otv1" label="Продажник" sortable numeric) {{ client.row.otv1 }}
								b-table-column(field="otv2" label="SEO" sortable numeric) {{ client.row.otv2 }}
							template( slot="footer")
								b Всего
								span {{ allStat.StatBystatus["Проблемные"].length }}
				div.column
					span.tag.is-danger Отказники
					b-table(:data="allStat.StatBystatus['Отказники']" :striped='true' :narrowed="true" :hoverable="true")
							template( slot-scope="client")
								b-table-column(field="adres" label="URL" sortable numeric) {{ client.row.adres }}
								b-table-column(field="otv1" label="Продажник" sortable numeric) {{ client.row.otv1 }}
								b-table-column(field="otv2" label="SEO" sortable numeric) {{ client.row.otv2 }}
							template( slot="footer")
								b Всего
								span {{ allStat.StatBystatus["Отказники"].length }}
</template>

<script>
import Firebase from 'firebase'


// перестройка базы данных по определнный всем ключам
function reBase(data) {
			var allStat=[];
			allStat.clients=data;
				for (var key in allStat.clients[0]) {
					key=key.toLowerCase();
					allStat['StatBy'+key]={};
					for (var j=0; j<allStat.clients.length; j++){
						allStat['StatBy'+key][allStat.clients[j][key]]=[];
            }
          for (var j=0; j<allStat.clients.length; j++){
						allStat['StatBy'+key][allStat.clients[j][key]].push(allStat.clients[j]);
						}
					}
			console.log(allStat);
			return allStat;
}

// перестройка базы данных по определнный ключам (масиив строк)
function reBaseByKeys(data, keys) {
			let allStat=[];
			allStat.clients=data;
        for (let i=0; i<keys.length; i++){
					let key=keys[i];
					allStat['StatBy'+key]={};
					for (let j=0; j<allStat.clients.length; j++){
            allStat['StatBy'+key][allStat.clients[j][key]]={};
						allStat['StatBy'+key][allStat.clients[j][key]].clients=[];
            }
          for (let j=0; j<allStat.clients.length; j++){
						allStat['StatBy'+key][allStat.clients[j][key]].clients.push(allStat.clients[j]);
						}
					}
			//console.log(allStat);
			return allStat;
}

// перестройка базы данных по определнный ключам, по несколько уровней (масиив массивов строк)
// передается объект который содержит в себе
// {key1:{}, key2:{key3:{}, key4{}}}

function reBaseByKeysTree(data, obKeys) {
      if (obKeys==={} ) {
        return ;
      }
      let allStat={};
      let itemStat={};
      allStat.clients=data;
        for (let key in obKeys) {
          //вызвать рекурентную функцию для всех объектов массива
          let newData=reBaseByKeys(data, [key]);
          for (let varKey in newData["StatBy"+key]) {
            //console.log(varKey);
            newData["StatBy"+ key][varKey]=reBaseByKeysTree(newData["StatBy"+ key][varKey].clients, obKeys[key]);
          }
          //console.log('--------------------------');
          allStat["StatBy"+ key]=newData["StatBy"+ key];
        }

			//console.log(allStat);
			return allStat;
}
//import { namesRef } from './firebase';
var config = {
    apiKey: "AIzaSyDxCV0V74HyVWxvMFOQK30CKc3IoVNKyqc",
    authDomain: "up-cms-34c3d.firebaseapp.com",
    databaseURL: "https://up-cms-34c3d.firebaseio.com",
    projectId: "up-cms-34c3d",
    storageBucket: "up-cms-34c3d.appspot.com",
    messagingSenderId: "918019029405"
  };


//var usersRef = Firebase.database().ref('users')

let app = Firebase.initializeApp(config)
let db = app.database()
let cliRef = db.ref('clients')

export default {
  name: 'app',
  data () {
    return {
    	msg: 'UP-cms',
    statBy:{"Статус":{"SEO":{}, "Менеджер":{} } },

		date: new Date(),
		mywidth : 300,
    myheight : 500,
    }
  },
	firebase:{
		clients:cliRef
	},
	computed:{
		allMonthStatictic: function () {//вывод всех месяцев и годов из данных
      let aaa=reBaseByKeysTree(this.clients, {"Год":{ "Месяц" :{ } } });
      console.log(aaa);
      return aaa;
		},
		allStat: function () {//вывод статистики по всем атрибутам указанным в "statBy"
      let param=this.statBy;
      console.log(param);
      let aaa=reBaseByKeysTree(this.clients, param);
      console.log(aaa);
      return aaa;
		}
	},
	methods: {
		//переделать на месяц, год, что бы не было наслоения месяцов с разными годами
		//не использую, удалить перед продакшеном
		GetMonthByNumber:function (N){
		var n = +N-0;
		var months = ['Январь', 'Февраль', 'Март', 'Апрель','Май', 'Июнь', 'Июль', 'Август','Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
			//console.log(n);
			//console.log(months[n]);
			return months[n];
		}
	}

}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
